* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

:root{
    --primary-color:#FFFFFF;
    --lab-color:lab(2.42579% -.165291 -.470081 / .8);
    --green-color:lab(51.3415% -41.5657 15.3527);
    --black-color:#08090a;
    --border-color:lab(2.42579% -.165291 -.470081 / .07);
    
}



main{
    width:100%;
    /* height: 100vh; */
    background: url('/public/bg-light.svg');
    background-repeat: no-repeat;
    background-size: inherit;
    /* border: 1px solid green; */
}

.container {
  width: 80%;
  margin: 0 auto;
  /* border: 1px solid red; */
 
}


/* navbar css start */
header{
    width: 100%;
    /* background-color: rgb(3, 78, 116); */
}
nav{
    width: 80%;
    margin: 0 auto;
}
.navbar-container{
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    height: 80%;
}
.navbar-container .logo-container{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100px; */
}

.navbar-container .logo-container img{
    /* border: 1px solid yellow; */
    width: 100%;
}

.navbar-container .logo-container p{
    /* border: 1px solid orangered; */
    font-size: 22px;
    font-weight: bold;
    position: relative;
    right: 80px;
    bottom: 4px;
    color: var(--primary-color);
}

.navbar-container .menus-container ul{
display: flex;
/* border: 1px solid red;     */
}


.navbar-container .menus-container ul li{
    list-style-type: none;
    /* border: 1px solid red; */
    
}


.navbar-container .menus-container ul li a{
    color: var(--primary-color);
text-decoration: none;    
/* border: 1px solid green; */
padding: 9px 15px;
font-size: 15px;
}

.navbar-container .nav-btn-containers{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}



.navbar-container .nav-btn-containers p a{
text-decoration: none;
color: var(--primary-color);
font-size: 15px;
padding: 10px 20px;
}

.navbar-container .nav-btn-containers .nav-cta1 a{
padding: 4.5px 12px;
/* border: 1px solid red; */
border-radius: 15px;
background-color: #0F5679;
margin-right: 5px;
/* font-size: 15px; */
}

.navbar-container .nav-btn-containers .nav-cta2 a{
padding: 4.5px 12px;
/* border: 1px solid red; */
border-radius: 15px;
background-color: #FFFFFF;
color: lab(2.42579% -.165291 -.470081);
font-weight: 500;
/* font-size: 15px; */

}

/* navbar css end  */

/* hero css start  */

.hero{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .hero-container{
    /* border: 1px solid blue; */
    margin-top: 27px;
}

.hero .hero-container .small-heading{
    text-align: center;
    background-color: #044361;
    padding: 3px 3px;
    /* border: 1px solid green; */
    border-radius: 18px;
    color: var(--primary-color);
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;

}

.hero .hero-container .first-span{
background-color: #0C8C5E;
font-weight: 500;
padding: 3px 7px;
border-radius: 10px;
font-size: 13px;
margin-right: 5px;
}

.hero .hero-container .second-span{
margin-right: 5px;
}

.hero .hero-container .third-span{
margin-right: 5px;
background-color: #FFFFFF;
/* border:1px solid red; */
border-radius: 50%;
}


.hero .hero-container .third-span {
display: flex;
justify-content: center;
align-items: center;

}
.hero .hero-container .third-span .img-container{
    width: 13px;
    height: 13px;
}
.hero .hero-container .third-span .img-container img{
width: 80%;
height: 100%;
}

.hero .hero-container .hero-heading{
    margin-bottom: 45px;
}

.hero .hero-container .hero-heading .main-heading{
    color:var(--primary-color);
    font-weight: bold;
    width: 500px;
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.hero .hero-container .hero-heading .sub-heading{
color: var(--primary-color);
text-align: center;
width: 480px;
margin: 0 auto;
margin-bottom: 25px;
}

.hero .hero-container  .input-box-container{
/* border: 1px solid red; */
text-align: center;
background-color: #61A8A6;
width: 335px;
margin: 0 auto;
border:1px solid #75B7B4;
border-radius: 18px;
padding:2px 0px;
}

.hero .hero-container  .input-box-container input{
    /* border: 1px solid red; */
    padding: 10px 20px;
    background: none;
    outline: none;
    color: var(--primary-color);
    border: none;
}
.hero .hero-container  .input-box-container input::placeholder{
color: #AAD5D1;
font-size: 14px;
}
.hero .hero-container  .input-box-container button{
    /* border: 1px solid red; */
    padding: 8px 15px;
    background: #FFFFFF;
    border-radius: 15px;
    border: none;
    font-weight: 500;

}

/* hero css end  */


/* image section start csss  */

.image-section {
    margin-top: 110px;
}
.image-section .image-container{
}

.image-section .image-container img{
    border-radius: 20px;
    width: 100%;
}

/* image section end  */

.companies{
    margin: 120px 0px;
    /* border: 1px solid red; */
}
.companies .companies-container{
    display: grid;
    width: 90%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.companies .companies-container .company-card{
    display: flex;
    justify-content: center;
    align-items: center;
   /* border: 1px solid rgb(76, 0, 255); */
    width: 90%;
    height: 100px;
}

.companies .companies-container .company-card img{
    width: 100%;
    /* height: 10%; */
    /* border: 1px solid red; */

}

.companies .companies-container .company-card .twitter{
    position: relative;
    left: 50px;
    width: 200px;
}

/* company css end  */

/* intelligence css start  */

.intelligence .int-container .heading-container{
    text-align: center;
    width: 600px;
    margin: 20px auto;
    margin-bottom: 20px;
}

.intelligence .int-container .heading-container .main-heading{

    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}

.intelligence .int-container .heading-container .sub-heading{

color:var(--lab-color)

}

.intelligence .int-container .cards-container{
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 23px;
    margin-top: 40px;
}

.intelligence .int-container .cards-container .card{
    border: 1px solid var(--border-color);
    padding: 30px;
    border-radius: 15px;

}


.intelligence .int-container .cards-container .card .card-content .smal-text{
    color: var(--green-color);
    font-size: 12px;
    margin-bottom: 20px;
}


.intelligence .int-container .cards-container .card .card-content .card-heading{

    color: var(--black-color);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.intelligence .int-container .cards-container .card .card-content .desc{
    color:var(--lab-color);
    width: 340px;
    line-height: 22px;

}

.intelligence .int-container .cards-container .card .card-img{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}

/* intelligence css end  */

/* assitent css start  */


.assistant{
    width: 100%;
margin: 30px 0px;
}

.assistant .assistant-container{
    width: 100%;
    margin: 0 auto;
    /* border: 1px solid blue; */
    padding: 40px 0px;
    border:1px solid var(--border-color);
    border-radius: 15px;
}
.assistant .assistant-container .smalltext{
    text-align: center;
    color: var(--green-color);
    font-size: 12px;
}

.assistant .assistant-container .heading{
    text-align: center;
    color: var(--black-color);
    font-size: 24px;
    font-weight: 600;
    margin: 20px;
}

.assistant .assistant-container .desc{
    text-align: center;
    color:var(--lab-color);
    width: 490px;
    line-height: 22px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.assistant .assistant-container .img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* assitant css end  */

/* enterprise css start  */
.enterprise{
    border: 1px solid red;
    background-color: #F7F7F7;
    width: 100%;
}
.enterprise .enterprise-container{
    border: 1px solid blue;
    width: 80%;
    margin: 100px auto;
}

.enterprise .enterprise-container .first-div{
    border: 1px solid red;
}

.enterprise .enterprise-container .first-div .smalltext{
    color: var(--green-color);
    font-size: 12px;
    text-transform:uppercase;
    font-weight: 500;
    margin-bottom: 20px;
}


.enterprise .enterprise-container .first-div .heading{
    color:var(--black-color);
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
    width: 400px;
}

.enterprise .enterprise-container .first-div .third-div{
    display: flex;
    justify-content: space-between;
}

.enterprise .enterprise-container .first-div .third-div .desc{
color:var(--lab-color);

}

.enterprise .enterprise-container .first-div .third-div .btn a{
padding: 10px 15px;
text-decoration: none;
/* border: 1px solid red; */
border-radius: 20px;
background-color:var(--black-color);
color: var(--primary-color);
font-weight: 500;
}


.enterprise .enterprise-container .second-div{
display: grid;
grid-template-columns: 1fr 1fr;
margin-top: 20px;
}

.enterprise .enterprise-container .second-div .logo-container{
display: flex;
justify-content: start;
align-items: center;
height:50px;
}

.enterprise .enterprise-container .second-div .heading{
    color: var(--black-color);
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0px;
}

.enterprise .enterprise-container .second-div .desc{
color:var(--lab-color);
width: 440px;
}



